{% extends 'front.html.twig' %}
    {% block header %} {% endblock %}
    {% block footer %}{% endblock %}
    {% block body %}
        <div class="col-lg-12" id="bloc-jeu">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5 progression-jeu">
                    <div class="pourcentage">
                        <span class="orange">Progression : x%</span>
                    </div>
                    <div class="etape-jeu">
                        <b>Question x</b>
                    </div>

                </div>
            </div>
            <hr>
            <!-- if QCM -->
            <div class="row">
                <div class="col-lg-offset-4 question">
                    <b>QCM</b><br />
                    Parmi les proposition suivantes, <span class="orange">laquelle n'est pas un verbe http ?</span>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-offset-5 reponse">
                        <button class="choix-qcm" name="choix1">
                            post
                        </button> <br>
                        <button class="choix-qcm" name="choix2">
                            get
                        </button> <br>
                        <button class="choix-qcm" name="choix3">
                            delete
                        </button> <br>
                        <button class="choix-qcm" name="choix4">
                            remove
                        </button> <br>
                    </div>
            </div>
            <div class="row">
                <button class="col-lg-offset-6 validation-reponse">
                    Valider
                </button>
            </div>

            <!-- if Chercher Erreur -->

            <div class="row">
                <div class="col-lg-offset-4 question">
                    <b>Chercher l'erreur</b><br />
                    Parmi les lignes suivantes, laquelle est fausse ?
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-5 col-lg-4 reponse">
<pre><code class="choix-erreur" name="choix2">Je suis faux </code>
<code class="choix-erreur" name="choix2">Je ne suis pas faux </code>
<code class="choix-erreur" name="choix2">Je suis quelqu'un </code>
<code class="choix-erreur" name="choix2">Je suis vrai </code></pre>
                </div>
            </div>
            <div class="row">
                <button class="col-lg-offset-6 validation-reponse">
                    Valider
                </button>
            </div>

            <!-- if Réponse à valeur numérique -->
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 question">
                    <b>Quel sera le résultat ?</b><br />
                    <pre> echo 1+1; </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-5 reponse">
                    <label> Réponse </label><br>
                    <input type="text" placeholder="11"><br>
                </div>
            </div>
            <div class="row">
                <button class="col-lg-offset-6 validation-reponse">
                    Valider
                </button>
            </div>

            <!-- if Vrai ou faux -->
            <div class="row">
                <div class="col-lg-offset-4 question">
                    <b>Vrai ou faux ?</b><br />
                    L'eau ne permet pas de s'hydrater
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-5 reponse">
                    <button class="choix-qcm" name="vrai">
                        Vrai
                    </button> <br>
                    <button class="choix-qcm" name="faux">
                        Faux
                    </button> <br>
                </div>
            </div>
            <div class="row">
                <button class="col-lg-offset-6 validation-reponse">
                    Valider
                </button>
            </div>
        </div>
    {% endblock %}


