{% extends 'front.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div id="edition-profil">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="ajout-question"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}