/** GENERAL **/

html{
    position:relative;
    min-height: 100%;
}

body{
    background-color: #DF4949;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.menu {
    width: 100%;
    background-color: #EE8348;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    margin-top: 35px;
}

.menu-item.first {
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

.menu-item.active {
    background-color: #70BEB1;
}

.menu-item a{
    color: white;
}

.menu-item a:hover, .menu-item a:focus{
    color:black;
    text-decoration: none;
}

.logo {
    padding-top: 10px;
}
.logo img{
    width: 100px;
}

.header {
    text-align: center;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}
.header-img {
    max-height: 600px;
}
.footer {
    width: 100%;
    height: 100px;
    border: 1px solid grey;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    background-color: #E6C22D;
}

.featured-item span{
    display: block;
}

/* ACCUEIL */

.header-content
{
    min-height: 400px;
    background-color:#DF4949;
}

#profile
{
    min-height : 400px;
    background-color: #EE8348;
}

#profile-card{
    display: inline-flex;
    width: 550px;
    height: 302px;
    border: solid 1px;
}

.profile-item, .profile-item img{
    margin: 0;
    height: 300px;
    width: 275px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}