/** GENERAL **/

html{
    position:relative;
    min-height: 100%;
}

body{
    background-color: #F6F6F6;
    margin-bottom: 100px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

button{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}
.menu {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    background-color: rgba(49, 55, 74, 1);
    height: 120px;
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    margin-top: 35px;
    opacity: 1;
}

.menu-item.first {
    position: absolute;
    left: 0;
    margin-top: 25px;
    opacity: 1;


}

.menu-item a{
    color: white;
    opacity: 1;
}

.menu-item a:hover, .menu-item a:focus{
    text-decoration: none;

    opacity: 1;
}

.logo {
    padding-top: 10px;
    opacity: 1;
}
.logo img{
    width: 100px;
    opacity: 1;
}

.header {
    text-align: center;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}
.header-img {
    max-height: 600px;
}
.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    background-color: #31374A;
    color: white;
    border-top: solid 10px #FFA155;
}

.featured-item span{
    display: block;
}

.bloc-front{
    padding-bottom: 20px;
}
/* ACCUEIL */

.header-content
{
    min-height: 400px;
    background-color:#F6F6F6;
}

#profile-card{
    display: inline-flex;
    width: 550px;
    height: 304px;
    border: solid 2px #C0C0C0;
}

#profile-avatar{
    background-color: white;
}
#profile-title{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #31374A;
}
.profile-item{
    margin: 0;
    height: 300px;
    width: 275px;
}

.profile-item img{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.skill-item{
    width: 275px;
    height: 304px;
    border: solid 2px #C0C0C0;
    background-color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Accueil */

#lancer-jeu{
    text-transform: uppercase;
    background-color: #31374A;
    color: white;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 300px;
}

#lancer-jeu div{
    margin-top: 70px;
    font-size: 0.8em;
}

#lancer-jeu b{
    font-size: 1.8em;
}
#lancer-jeu button{
    margin-top: 10px;
    border: none;
    background-color: #fd8224;
    width: 270px;
    height: 70px;
    color: white;
    font-size: 3em;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
}
#lancer-jeu button:hover{
    background-color: #DF6002;
}

/* Question */


.progression-jeu{
    text-align: center;
}
#bloc-jeu{
    background-color: #31374A;
    color: #f6f6f6;
}

#bloc-jeu hr{
    width: 50px;
}

#bloc-jeu input{
    color: black;
}
.validation-reponse{
    border: none;
    background-color: #fd8224;
    width: 180px;
    height: 50px;
    font-size: 1.7em;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.63);
}

.validation-reponse:hover{
    background-color: #DF6002;
}
.choix-qcm{
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: solid 10px #4298BA;
    margin-bottom: 10px;
    background-color: #7ED4F6;
}

.choix-qcm:hover{
    background-color: #32BDF1;
    border-color: #2B6479;
}

.choix-erreur p{
    display: inline-block;
}

.orange {
    color: #FFA155;
}

.reponse code{
    color: black;
}

.reponse code:hover{
    cursor: pointer;
    color:#FFA155;
}


