/* SECTION PROFIL */

#profile
{
    text-align: center;
    height : 400px;
    background-color: #EE8348;
}


.form{

    padding: 10px;
    margin: 0 auto;
}

.form label{

    display: inline-block;
    padding: 10px;
    font-weight: bold;
}

.form input{

    /* background-color: transparent; */
    padding: 5px;

}
#avatar
{
    height: 100px;
    width:75px;
    margin: 0 auto;
    display: block;
}

/* SECTION LOGIN */
#logo_skillz_top
{
    height: 60px;
    width: 140px;
    margin: 10% auto;
    display: block;
}

#logo_gfi_bottom{
    height: 35px;
    width: 110px;
    margin: 0 auto;
    /* padding-top: 150px; */
    display: block;
    position: absolute;
    bottom: 70px;
    right: 20%;
}
#left{
    width: 50%;
    margin: 0 0;
    padding: 0px;
    float: left;
    display: inline-block;
    height: 100vh;
    background-image: url(../img/bck.jpg);
    background-repeat: no-repeat;
background-position: center center;
}
#right{
    width: 50%;
    margin: 0 0;
    padding: 0px;
    float: right;
    background-color: #31374a;
    display:inline-block;
    height: 100vh;
}
#right-content{
    text-align: center;
}

#connection_form{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
#connection_form label{
    display: inline-block;
    max-width: 100%;
    font-weight: 300;
    font-size: 1.0em;
    color: #f6f6f6;
    text-transform: uppercase;
    float: left;
    margin-bottom: 1px !important;
}
#password_forgot{
    color: #fc5427 !important;
    text-transform: uppercase;
    font-size: 0.7em !important;
    float: left;
    margin-top: 3px !important;
    text-align: initial;

}
#validate_button{
    width: 92% !important;
    color: #f6f6f6;
    border: none;
    background: #fd8224;
    /* margin-top: 25px; */
    height: 50px !important;
    float: none !important;
    margin: 25px auto;
    font-size: 2em;
}
#validate_button:hover{
    background-color: #DF6002;
}
#connection_form input{
    border:none;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    height: 2em;
}
#input_mdp {
    margin-bottom: 0px !important;
}
.input_mdp_inscription{
    margin-bottom: 3px !important;
}
#input_validate{

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CCCCCC;
    font-size:0.6em;
    padding-left:5px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #17171A;
    font-size:0.6em;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #17171A;
    font-size:0.6em;
}
:-moz-placeholder { /* Firefox 18- */
    color: #17171A;
    font-size: 0.6em;
}
.button_mode{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 15px;

}

.button_mode:hover{
    outline:solid #FFFFFF 2px;
}
#right-content a{
    padding: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
    display: inline-block;

}
.mode{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px !important;



}
.mode_current{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px !important;
    outline: solid 2px #FFFFFF;
    cursor: default;

}
.mode:hover{
    outline:solid #FFFFFF 2px;
    color: #FFFFFF;
    text-transform: none;
    text-decoration: none;

}
.mode_current:hover{
    outline:solid #FFFFFF 2px;
    color: #FFFFFF;
    text-transform: none;
    text-decoration: none;
    cursor: default;

}
 span{
    margin-bottom: 25px;
     display: inline-block;
     margin-right:15px;


}
 #lien_gfi{

     font-size: 0.7em !important;
     margin: 0 auto;
     /* padding-top: 150px; */
     display: block;
     position: absolute;
     bottom: 30px;
     right: 20%;
     width:110px;
 }

#lien_gfi a{
    color: #fd8224 !important;

}
#lien_gfi a:hover{
   outline: solid 1px #fd8224;
    text-transform: none;
    text-decoration: none;

}