{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container-fluid" id="recherche-profil">
        <h1>Rechercher profil</h1>
        <hr>
        <input type="text" placeholder="Entrez ici le nom du candidat"><br>
        <input type="submit" value="Valider">
        <div class="filtres">
            <h2>Trier par : </h2>
            {% for i in 0..4 %}
                <span class="filtre_label"><input type="checkbox" name="{{ i }}"> Filtre {{ i }} </span><br>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div id="tableau-profils">
            <table>
                <tr id="titres">
                    <td>Nom</td>
                    <td>Âge</td>
                    <td>Ville</td>
                    <td class="competences-candidat">Java</td>
                    <td class="competences-candidat">Php</td>
                    <td class="competences-candidat">Ingénieur</td>
                    <td class="competences-candidat">Leader</td>
                    <td class="competences-candidat">Créatif</td>
                </tr>
                {% for i in 0..10 %}
                    <tr class="description-profils">
                        <td><b>Jane Doe</b></td>
                        <td>24 ans</td>
                        <td>Paris 75018</td>
                        <td class="competences-candidat">63</td>
                        <td class="competences-candidat">82</td>
                        <td class="competences-candidat">76</td>
                        <td class="competences-candidat">87</td>
                        <td class="competences-candidat">34</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
