{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="creation-question">
            <form method="POST" action="{{ url("admin_questioncreate") }}">
                <h1>Création question</h1>

                    <label>Type</label><br>
                    <select id="question_type" name="question_type">
                        <option value="" disabled selected>Aucun</option>
                        <option value="qcm">QCM</option>
                        <option value="error">Chercher l'erreur</option>
                        <option value="number">Resultat chiffré</option>
                        <option value="valid">Validation de code</option>
                    </select><br><br>
                <label>Intitulé</label><br><input type="text" name="content_large" id="intitule"><br><br>

                <div id="qcm">
                        <label>Réponse n°1 </label><br><input type="text" name="qcm_1"><br><span> Réponse correcte </span><input type="checkbox" name="qcm_1_valid"><br><br>
                        <label>Réponse n°2 </label><br><input type="text" name="qcm_2"><br><span> Réponse correcte </span><input type="checkbox" name="qcm_2_valid"><br><br>
                        <label>Réponse n°3 </label><br><input type="text" name="qcm_3"><br><span> Réponse correcte </span><input type="checkbox" name="qcm_3_valid"><br><br>
                        <label>Réponse n°4 </label><br><input type="text" name="qcm_4"><br><span> Réponse correcte </span><input type="checkbox" name="qcm_4_valid"><br><br>
                        <input type="submit" class="ajout-question" value="Ajouter la Question">
                    </div>
                    <div id="error">
                        <label>Code</label><br><textarea name="error"></textarea><br><br>
                        <label>Ligne contenant l'erreur</label><br><input type="number"><br><i>*la première ligne étant 0</i><br><br>
                        <input type="submit" class="ajout-question" value="Ajouter la Question">

                    </div>
                    <div id="number">
                        <label>Réponse </label><br><input type="number" name="num_res"><br><br>
                        <input type="submit" class="ajout-question" value="Ajouter la Question">

                    </div>
                    <div id="valid">
                        <label>Vrai/Faux </label><br><select name="truefalse">
                            <option value="1">Oui</option>
                            <option value="0" selected>Non</option>
                        </select><br><br>
                        <input type="submit" class="ajout-question" value="Ajouter la Question">

                    </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var divs = [
                "question_type"
            ];
            divs.forEach(function (div) {
                $("#" + div).mouseup(function () {
                    $('#' + div + " option").each(function () {
                        if ($(this).val() != "") {
                            $("#" + $(this).val()).hide();
                        }
                    });
                    $("#" + $(this).val()).show();
                });
                $('#' + div + " option").each(function () {
                    if ($(this).val() != "") {
                        $("#" + $(this).val()).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}
