{% extends 'admin.html.twig' %}

{% block body %}
    <div class="new_question">
        <h2>New Question</h2>
        <label>humaine ou fonctionnel</label>
        <select>
            <option>functionnal</option>
            <option>Humain</option>
        </select>
        <label></label>
        <select>
            <option>QCM</option>
            <option>Trouver l'erreur</option>
            <option>Verification de code</option>
            <option>Reponse Textuel</option>
        </select>
        <input type="text" placeholder="question content">
        <div class="qcm_data">
            {% for i in 1..4 %}
                <input type="text" placeholder="reponse n°{{ i }} (QCM)" class="reponse reponse{{ i }}"><input type="checkbox"><span>select if true</span>
            {% endfor %}
        </div>
        <div class="error_data">
            <textarea>enter code here</textarea>
        </div>
        <div class="verification_data">
            <textarea>enter code here</textarea>
        </div>
        {% for i in 0..10 %}
            <input type="checkbox"> <span>skill n°{{ i }}</span>
        {% endfor %}
    </div>
    <div class="old_questions">
        {% for i in 0..10 %}
            <div class="old_question">
                <h4>Question</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
