{% extends 'admin.html.twig' %}

{% block body %}
    <div class="old_questions">
        {% for question in questions %}
            <div class="old_question">
                <h4> {% if (question.qcm == 1) %}
                    Question Fonctionnel
                    {% if (question.type ==0) %}
                       - QCM -
                    {% endif %}
                    {% if (question.type ==1) %}
                        - Checher l'erreur -
                    {% endif %}
                    {% if (question.type ==2) %}
                        - Resutat chiffré -
                    {% endif %}
                    {% if (question.type ==3) %}
                         - Vrai/faux -
                    {% endif %}
                {% else %}
                    Question Humaine
                {% endif %}

                {{ question.content }}</h4>
            </div>

            <span>Competences</span>
            {% for skill in qskills[question.id] %}
                <p>skill</p>
            {% endfor %}
            <span>Ajouter une competence</span>
            <form>
                <input type="hidden" value="{{ question.id }}">
                <select>
                    <option disabled selected>Nan</option>

                    {% for skill in skills %}
                        <option>{{ skill.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Ajouter la competence">
            </form>
        {% endfor %}
    </div>
{% endblock %}
