{% extends 'admin.html.twig' %}

{% block body %}
    <form method="POST" action="{{ url("admin_questioncreate") }}">
        <label>Fonctionnel</label>

            <label>type</label>
            <select id="question_type" name="question_type">
                <option value="" disabled selected>Nan</option>
                <option value="qcm">QCM</option>
                <option value="error">Chercher l'erreur</option>
                <option value="number">Resultat chiffré</option>
                <option value="valid">Validation de code</option>
            </select><br>
        <span>Intitulé</span><input type="text" name="content_large">

        <div id="qcm">
                <span>reponse n°1</span><input type="text" name="qcm_1"><span>vrai?</span><input type="checkbox" name="qcm_1_valid"><br>
                <span>reponse n°2</span><input type="text" name="qcm_2"><span>vrai?</span><input type="checkbox" name="qcm_2_valid"><br>
                <span>reponse n°3</span><input type="text" name="qcm_3"><span>vrai?</span><input type="checkbox" name="qcm_3_valid"><br>
                <span>reponse n°4</span><input type="text" name="qcm_4"><span>vrai?</span><input type="checkbox" name="qcm_4_valid"><br>
            </div>
            <div id="error">
                <span>Code</span><textarea name="error"></textarea><br>
                <span>ligne contenant l'erreur</span><input type="number"><i>la premiere ligne etant 0</i><br>
                <input type="submit" value="Ajouter la Question">

            </div>
            <div id="number">
                <span>Reponse</span><input type="number" name="num_res"><br>
                <input type="submit" value="Ajouter la Question">

            </div>
            <div id="valid">
                <span>Vrai/Faux</span><select name="truefalse">
                    <option value="1">Oui</option>
                    <option value="0" selected>Non</option>
                </select><br>
                <input type="submit" value="Ajouter la Question">

            </div>

    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var divs = [
                "question_type"
            ];
            divs.forEach(function (div) {
                $("#" + div).mouseup(function () {
                    $('#' + div + " option").each(function () {
                        if ($(this).val() != "") {
                            $("#" + $(this).val()).hide();
                        }
                    });
                    $("#" + $(this).val()).show();
                });
                $('#' + div + " option").each(function () {
                    if ($(this).val() != "") {
                        $("#" + $(this).val()).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}
