{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="tableau-admin">
            <table>
                <tr class="tableau-titres">
                    <th>Nomg</th>
                    <th class="competences-candidat">Code</th>
                    <th class="competences-candidat">Type</th>
                </tr>
                {% for skill in skills %}
                    <tr class="description-profils">
                        <td class="type-question">{{ skill.name }}</td>
                        <td class="competences-candidat">{{ skill.code }}</td>
                        <td class="competences-candidat">{{ skill.category }}</td>
                    </tr>

                {% endfor %}
            </table>
            <a href="{{ url("admin_skillcreate") }}">
                <button class="ajout-question">Nouvelle compétence</button>
            </a>
        </div>

    </div>
{% endblock %}
