{% extends 'admin.html.twig' %}

{% block body %}
    <div class="skills">
        {% for skill in skills %}
            <div class="skill">
                <h3>{{ skill.name }}</h3>
                <p>{{ skill.code }}</p>
                {{ skill.category }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
