{% for user in users %}
    <tr class="description-profils">
        <td><b>{{ user.name }} {{ user.surname }}</b></td>
        <td>{{ user.age }} ans</td>
        <td>{{ user.address }}</td>
    </tr>
{% endfor %}
