{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid bloc-front">
        {% block front %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/Chart.min.js') }}"></script>
{% endblock %}
